<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Message Gen</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Welcome to the Random Message Generator</h1>
    <h3>Please select the type of message you want to generate:</h3>
    <ul>
        <li>Random Wisdom Motivation</li>
        <li>Gym Motivation</li>
        <li>Heart Break Motivation</li>
    </ul>
    <h1>&ldquo; Insert random message here &ldquo;</h1>
    <footer>
        <h4>This work was created by <a href="https://www.linkedin.com/in/ricardo-cardoso-08035a9a/" target="_blank">Ricardo Cardoso</a></h4>
    </footer>
</body>
</html>